.idea
node_modules
/vendor/*
var
.data/db/dump/*.sql
npm-debug.log
.php_cs.cache
public/FIRST_INSTALL
public/fileadmin/
public/uploads/
public/typo3temp/
public/index.php
public/typo3
public/typo3conf/ext
public/typo3conf/PackageStates.php
public/typo3conf/LocalConfiguration.php
public/typo3conf/ENABLE_INSTALL_TOOL
public/typo3conf/SolrConfiguration.php
npm-debug.log
.ddev/solr/data/*
db.sql
.DS_Store